{% extends "camera/base.html"%} 
{% load static %}
 {% block head %}

{% endblock head %}

{% block content %}

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Boite Photos Réctangulaires (10cm x 7cm)</h2>
    </div>
  </div>
</section>
<!-- End Breadcrumbs Section -->

<!-- ======= Gallery Section ======= -->
<section class="gallery">
  <div class="container">
    <div class="section-title">
      <h2></h2>
      <p>Sélectionnez vos photos</p>
    </div>
    <div class="row no-gutters">
      {% csrf_token %}
      <div class="col-lg-4 col-md-4 border-0">
        <div class="card" style="border: none;margin: 3px;">
          <div id="btngrp_1"></div>          
          <input class="file_upload" type="file" id="input_1" accept="image/png, image/gif, image/jpeg" />
          <img id="imgcropped_1" src="{% static 'camera/assets/img/void.png'%}" style="border-radius: 7%; border: 2px solid grey" class="card-img-top shadow" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 border-0">
        <div class="card" style="border: none;margin: 3px;">
          <div id="btngrp_2"></div>
          <input class="file_upload" type="file" id="input_2" accept="image/png, image/gif, image/jpeg" />
          <img id="imgcropped_2" src="{% static 'camera/assets/img/void.png'%}" style="border-radius: 7%; border: 2px solid grey" class="card-img-top shadow" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 border-0">
        <div class="card" style="border: none;margin: 3px;">
          <div id="btngrp_3"></div>
          <input class="file_upload" type="file" id="input_3" accept="image/png, image/gif, image/jpeg" />
          <img id="imgcropped_3" src="{% static 'camera/assets/img/void.png'%}" style="border-radius: 7%; border: 2px solid grey" class="card-img-top shadow" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 border-0">
        <div class="card" style="border: none;margin: 3px;">
          <div id="btngrp_4"></div>
          <input class="file_upload" type="file" id="input_4" accept="image/png, image/gif, image/jpeg" />
          <img id="imgcropped_4" src="{% static 'camera/assets/img/void.png'%}" style="border-radius: 7%; border: 2px solid grey" class="card-img-top shadow" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 border-0">
        <div class="card" style="border: none;margin: 3px;">
          <div id="btngrp_5"></div>
          <input class="file_upload" type="file" id="input_5" accept="image/png, image/gif, image/jpeg" />
          <img id="imgcropped_5" src="{% static 'camera/assets/img/void.png'%}" style="border-radius: 7%; border: 2px solid grey" class="card-img-top shadow" />
        </div>
      </div>
      <div class="col-lg-4 col-md-3 border-4">
        <div class="card">
          <div id="btngrp_6" style="border: none;margin: 3px;"></div>
          <input class="file_upload" type="file" id="input_6" accept="image/png, image/gif, image/jpeg" />
          <img id="imgcropped_6" src="{% static 'camera/assets/img/void.png'%}" style="border-radius: 7%; border: 2px solid grey" class="card-img-top shadow" />
        </div>
      </div>
      <div class="col-lg-12 border-0">
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-success btn-xl mt-5 disabled" id="confirm_btn" onclick="confirm()">
              <strong>CONTINUER</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id='uploadModal' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p  class="text-center"> <img src="{% static 'camera/assets/img/img_icon.png' %}"> <br> Vos images sont en cours de traitement ...</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal "  id="addModal" data-keyboard="false"  data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">                
        <p class="text-center text-uppercase"> <img src="{% static 'camera/assets/img/discount.png' %}"><br>
          AJOUTER 6 PHOTOS Rectangles (10cm x 7cm) Á SEULEMENT <span class="text-danger h4" ><strong>70 DH</strong></span> 
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-warning btn-lg text-white" id="btnredirect">AJOUTER 6 PHOTOS </a><hr>
        <a class="btn btn-success btn-lg text-white mt-2 text-uppercase " href="{% url 'produit'%}">créer une NOUVELLE BOITE </a>
        <a class="btn btn-info btn-lg text-white mt-4 " href="{% url 'cart'%}">CONTINUER VERS PANIER </a>
      </div>
    </div>
  </div>
</div>
{{order_id|json_script:"order_id" }}
{{nbre|json_script:"nbre" }}
{{prix|json_script:"prix" }}
{% endblock content %} 

{% block foot %}
<script src="{% static 'camera/assets/js/addrect.js'%}"></script>

{% endblock foot %}
