{% extends "camera/adminbase.html"%} 
{% load static %}

{% block head %}
{% endblock head %} 

{% block content %}

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Commande</h2>        
      </div>
    </div>
</section>
<!-- End Breadcrumbs Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <table class="table table-bordered"  width="100%" cellspacing="0">          
                <tbody>
                <tr>
                  <td>{{ order.id }}</td>   
                </tr>
                <tr>
                  <td>{{ order.typec }}</td> 
                </tr>
                <tr>
                  <td>{{ order.nbre }}</td>
                </tr> 
                <tr>
                  <td id="downloadid">
                  </td> 
                </tr>   
          </tbody>
        </div>
    </div>
</section><!-- End Features Section -->

{{ids|json_script:"ids" }}

{{typec|json_script:"typec" }}

  
{% endblock content %}

{% block foot %}
<script>
  ids = JSON.parse(document.getElementById('ids').textContent); 
  typec = JSON.parse(document.getElementById('typec').textContent); 
  console.log(ids)
  console.log(typec)
  td=document.getElementById('downloadid')

  if (typec == 'Photos Carrées (5cm x 5cm)'){
    for ( let i=0; i<ids.length; i++){    
    
    if(i % 6 == 0 ){
      var str=` {% url 'downlaodalbumsquare' 1 %}`.replace('1',ids[i]);
    var a=document.createElement('a')
    a.setAttribute('href',str)
    a.setAttribute('target','_blank')
    a.setAttribute('class','btn btn-info mr-2')
    a.innerHTML='Télecharger'

    td.appendChild(a)
      
    }
    
    }
    
  }else{
    for ( let i=0; i<ids.length; i++){    
    
    if(i % 2 == 0){
      var str=` {% url 'downlaodalbumrectangle' 1 %}`.replace('1',ids[i]);
    var a=document.createElement('a')
    a.setAttribute('href',str)
    a.setAttribute('target','_blank')
    a.setAttribute('class','btn btn-info mr-2')
    a.innerHTML='Télecharger'

    td.appendChild(a)
      
    }
    
    }

  }

  
</script>



{% endblock foot %}
