{% extends "camera/base.html"%} 
{% load static %} 


{% block head %} 

{% endblock head %} 


{% block content %}

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>COMMANDE</h2>
      
    </div>
  </div>
</section>
<!-- End Breadcrumbs Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">         
  
          <div class="row">      
            <div class="col-lg-4 " >
              <div class="section-title">
                <h2></h2>
                <p>Panier</p>
              </div>
              <div class="info">
                <div class="address">  
                  <i class="icofont-image"></i>                
                  <h4>Articles:</h4>
                  <p>Magnets Photos : {{nbre}} photos</p>
                </div>
                <div class="address mt-3">   
                  <i class="icofont-cart-alt"></i>
                  <h4>Prix:</h4>
                  <p>{{prix}} DH</p>
                </div>
                <div class="address mt-3">   
                  <i class="icofont-truck-loaded"></i>
                  <h4>Livraison:</h4>
                  <p>40.00 DH</p>
                </div>
                <div class="address mt-3">   
                  <i class="icofont-price"></i>
                  <h4>Total:</h4>
                  <p id="total"></p>
                </div>
  
              </div>
  
            </div>     
  
            <div class="col-lg-8 mt-5 mt-lg-0" >
              <div class="section-title">
                <h2></h2>
                <p>Coordonnées</p>
              </div>
  
              <form method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" required='true' name="name" id="input_nom" placeholder="Nom & Prénom" /> 
                    <div id="validate_nom"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" required='true' name="tel" id="input_tel" placeholder="Télephone" />      
                    <div id="validate_tel"></div>              
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" required='true' name="ville" id="input_ville" placeholder="Ville" />           
                    <div id="validate_ville"></div>         
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" required='true' name="adresse" id="input_adresse" placeholder="Adresse" />       
                    <div id="validate_adresse"></div>             
                </div>
                <div class="text-center"><button class="btn btn-success btn-xl" type="button" onclick="confirm()">CONFIRMER</button></div>
              </form> 
            </div> 
          </div>
  
        </div>
      </section><!-- End Contact Section -->

      <div class="modal"  id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p class="text-center"> <img src="{% static 'camera/assets/img/discount.png' %}"><br>
                AJOUTER 6 PHOTOS Á SEULEMENT <br> <span class="text-danger h4" ><strong>40 DH</strong></span> 
              </p>
            </div>
            <div class="modal-footer">
              <a class="btn btn-warning btn-xl text-white " href="{% url 'addorder' order_id %}">AJOUTER 6 PHOTOS </a>
              <button type="button" class="btn btn-secondary btn-xl" data-dismiss="modal">IGNORER ET CONTINUER </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal"  id="finiModal"  data-keyboard="false"  data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p class="text-center"> <img src="{% static 'camera/assets/img/congrats.png' %}"><br>
                ON A TERMINÉ !<br> VOS BELLES PHOTOS MAGNTES SERONT BIENTOT CHEZ VOUS.
              </p>
            </div>
            <div class="modal-footer">
              <a class="btn btn-warning btn-xl text-white " href="{% url 'home' %}">REVENIR A L'ACCEUIL</a>
            </div>
          </div>
        </div>
      </div>

      {{order_id|json_script:"order_id" }}
      {{prix|json_script:"prix"}}

{% endblock content %} 

{% block foot %} 
<script src="{% static 'camera/assets/js/order.js'%}"></script>

{% endblock foot%}
